<!DOCTYPE html>
<html ng-app="Desafio">
<head>
	<base href="/">
	<meta charset="utf-8">

	<title>Desafio R&amp;B</title>

    <!-- CSS -->
    <link type="text/css" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link type="text/css" href="/lib/fontawesome/css/font-awesome.min.css">

    
	<!--[if (gte IE 6)&(lte IE 8)]>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"</script>
	<noscript><link rel="stylesheet" href="[fallback css that display:inline-block∏ radios & checkboxes]" /></noscript>
	<![endif]-->
</head>

<body>
    
    <div ui-view></div>
    
    <!-- angular scripts -->
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-resource/angular-resource.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>-->
    
    <!--APP scripts-->
    <script src="/js/app.js"></script>
    <script src="/js/controllers/personagens.js"></script>
    <script src="/js/factories/personagens.js"></script>
</body>
</html>